In [1]:
import pandas as pd
import numpy as np

In [27]:
train = pd.read_csv('train.csv')

In [7]:
test = pd.read_csv('test.csv')

In [4]:
train.head(2)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1

In [28]:
y = train.iloc[:,-1].values

In [29]:
y = y[:7613]

In [5]:
train.drop(['target'],axis=1,inplace=True)

In [8]:
df = pd.concat([train,test],axis=0,sort=False)

In [9]:
len(df)

10876

In [10]:
import re
import nltk

In [11]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [12]:
corpus = []

In [13]:
for i in range(0,10876):    
    review = re.sub('[^a-zA-Z]',' ',str(df['text'][0]))
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [14]:
from sklearn.feature_extraction.text import  CountVectorizer

In [15]:
cv = CountVectorizer()
corpus = cv.fit_transform(corpus).toarray()

In [43]:
test.shape

(3263, 4)

In [44]:
corpus.shape

(10876, 11)

In [24]:
X_train = corpus[:7613]

In [51]:
X_train.shape

(5613, 11)

In [25]:
X_test = corpus[7613:10876]

In [53]:
X_test.shape

(2263, 11)

In [55]:
y.shape

(5613,)

In [130]:
from sklearn.svm import SVR
reg = SVR()

In [131]:
reg.fit(X_train,y)

C:\Users\G.Shivanesh\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [132]:
y_pred = reg.predict(X_test)

In [133]:
y_pred

array([0.1, 0.1, 0.1, ..., 0.1, 0.1, 0.1])

In [34]:
y_pred.shape

(3263,)

In [48]:
y_list1 = pd.Series(y_pred)

In [49]:
a = test['id']

In [72]:
y_final2 = pd.concat([a,y_list1],axis=1,keys=['id','target'])

In [84]:
d = (y_final2.to_csv)

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
5        12       0
6        21       0
7        22       0
8        27       0
9        29       0
10       30       0
11       35       0
12       42       0
13       43       0
14       45       0
15       46       0
16       47       0
17       51       0
18       58       0
19       60       0
20       69       0
21       70       0
22       72       0
23       75       0
24       84       0
25       87       0
26       88       0
27       90       0
28       94       0
29       99       0
...     ...     ...
3233  10756       0
3234  10757       0
3235  10758       0
3236  10761       0
3237  10762       0
3238  10773       0
3239  10778       0
3240  10781       0
3241  10791       0
3242  10792       0
3243  10796       0
3244  10797       0
3245  10801       0
3246  10804       0
3247  10806       0
3248  10807       0
3249  10816       0
3250  10820       0
3251  10828       0
3252  10836       0
3253  10838       0
3254  10845       0
3255  10856       0
3256  10857       0
3257  10858       0
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [58]:
with open(a, 'w') as myfile:
     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
     wr.writerow(mylist)

TypeError: expected str, bytes or os.PathLike object, not Series

In [115]:
er = pd.DataFrame(y_final2)

In [60]:
compression_opts = dict(method='zip',

                        archive_name='out.csv')  

myfile.to_csv('out.zip', index=False,

          compression=compression_opts)

TypeError: unhashable type: 'dict'

In [120]:
er.to_csv('file2.csv',index=False)

In [110]:
np.savetxt('er',X='2D')

ValueError: Expected 1D or 2D array, got 0D array instead

In [114]:
np.savetxt('er.csv',X='2D')

ValueError: Expected 1D or 2D array, got 0D array instead